<div class="flex flex-row overflow-auto space-x-8">
  <!-- single-event-card -->
  <% events.forEach((event,i)=>{ %>
    <div  class=" flex flex-col bg-blue-600 rounded">
      <img style="width: 850px; height: 420px;" class="bg-gray-200 flex justify-center" src="/hab/uploads/hostel_files/<%= event.path %>" />
      <div class="mt-6 mx-5 text-white">
        <%=event.date.getDate()+' /'+(event.date.getMonth()+1)+'/'+event.date.getFullYear()%>
      </div>
      <div class="flex mx-5 mb-4 justify-between items-center">
        <div class="font-bold text-xl text-white">
          <%= event.name %>
        </div>
        <div>
          <a href="<%= event.imagepath %>"><svg width="33" height="33" viewBox="0 0 33 33" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M22.184 29.4407H11.2906C6.58398 29.4407 3.41064 26.4127 3.41064 21.894V10.334C3.41064 5.81405 6.58398 2.77405 11.2906 2.77405H22.184C26.904 2.77405 30.0773 5.81405 30.0773 10.334V21.894C30.0773 26.4127 26.904 29.4407 22.184 29.4407ZM19.7706 15.1074H11.304C10.744 15.1074 10.304 15.5607 10.304 16.1074C10.304 16.6674 10.744 17.1074 11.304 17.1074H19.7706L16.464 20.4007C16.2773 20.5874 16.1706 20.854 16.1706 21.1074C16.1706 21.3594 16.2773 21.614 16.464 21.814C16.8506 22.2007 17.4906 22.2007 17.8773 21.814L22.904 16.814C23.2773 16.4407 23.2773 15.774 22.904 15.4007L17.8773 10.4007C17.4906 10.014 16.8506 10.014 16.464 10.4007C16.0773 10.8007 16.0773 11.4274 16.464 11.8274L19.7706 15.1074Z"
                fill="white" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <% }) %>
</div>