<div class="md:w-1/2 lg:w-1/3">
  <div
    style="height: 450px;width: 450px"
    class="
      hidden
      md:block
      overflow-hidden
      bg-blue-600
      rounded-md
      mb-24
      mx-4
      cursor-pointer
    "
  >
    <div class="bg-gray-200 rounded-md">
      <img
        style="height: 300px"
        src="https://i.pinimg.com/originals/ef/0d/ec/ef0dec7cb8b80b65ae925ccb9286f567.jpg"
        alt="ProfilePic"
        class="w-full object-contain"
      />
    </div>
    <div class="ml-3.5 text-2xl text-white font-semibold mt-4">Name</div>
    <div class="ml-3.5 text-lg text-white mt-2 mb-2">Post</div>
    <svg
      class="w-full"
      width="200"
      height="1"
      viewBox="0 0 420 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line
        x1="0.5"
        y1="0.5"
        x2="419.5"
        y2="0.500031"
        stroke="white"
        stroke-linecap="round"
      />
    </svg>
    <div class="flex justify-between mx-3.5 my-2">
      <div class="text-sm text-white">Email</div>
      <div class="text-sm text-white">Contact</div>
    </div>
  </div>
  <div class="block md:hidden flex justify-center">
    <div
      style="width: 320px"
      class="bg-blue-600 mt-8 rounded-md cursor-pointer"
    >
      <div class="bg-gray-200 flex justify-center">
        <img
          src="https://i.pinimg.com/originals/ef/0d/ec/ef0dec7cb8b80b65ae925ccb9286f567.jpg"
          alt="ProfilePic"
          class="h-64 w-auto object-contain rounded-sm"
        />
      </div>
      <div class="h-16">
        <div class="text-white text-2xl ml-4 pt-1">Name</div>
        <div class="text-white text-lg ml-4 pt-1">Post</div>
      </div>
      <svg
        class="w-full px-4 mt-3"
        width="360"
        height="1"
        viewBox="0 0 360 1"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="0.5"
          y1="0.5"
          x2="359.5"
          y2="0.500031"
          stroke="white"
          stroke-linecap="round"
        />
      </svg>
      <div class="h-20">
        <div class="text-white text-lg ml-4 pt-1">Email</div>
        <div class="text-white text-lg ml-4 pt-1">Contact</div>
      </div>
    </div>
  </div>
</div>

