<section id="home" class="sectionlist" style="display: block">
  <div class="sm:mx-16 md:mx-32 mt-20">
    <div class="flex items-center justify-between mb-8">
      <div class="font-bold text-4xl">About Hostel</div>
      <div>
        <% if(website){ %>
        <a href="<%= website.link %>" target="_blank"
          ><button class="border-2 rounded px-6 py-3">
            Personal Website
          </button></a
        ><% }else{%><a href="#"
          ><button class="border-2 rounded px-6 py-3">
            Personal Website
          </button></a
        ><% } %>
      </div>
    </div>
    <div><%= hostel.description%></div>
  </div>
</section>
