<script>
	function myFunction1() {
		const val=document.getElementById("mysearch").value.toLowerCase();
		const n = document.getElementsByClassName("imp-class").length;
		for(var i = 0; i < n; i++) {
			var id=document.getElementsByClassName("imp-class")[i].value;
			var id1=id+'1';
			var title=document.getElementById(id1).innerHTML.toLowerCase();
			var id2=id+'2';
			var desc=document.getElementById(id2).innerHTML.toLowerCase();
			if(title.indexOf(val) > -1 || desc.indexOf(val) > -1) {
				document.getElementById(id).style.display="";
			}
			else {
				document.getElementById(id).style.display="none";
			}
			console.log(title);
			console.log(desc);
		}
		
	}
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/tailwind@4.0.0/dist/tailwind.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js" integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ==" crossorigin="anonymous"></script>
</html>