<script>
    function myfunction() {
      var input1, filter1, table, tr, td, a2, a3, i;
      input1 = document.getElementById("mySearch1");
      filter1 = input1.value.toUpperCase();
      table = document.getElementById("myMenu");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        a2 = td[1].innerHTML.toUpperCase();
        a3 = td[2].innerHTML.toUpperCase();
        if ((a2.indexOf(filter1) > -1) || (a3.indexOf(filter1) > -1)) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
</script>

</main>
    
<footer class="w-full bg-white text-right p-4">
    Built by <a target="_blank" href="https://davidgrzyb.com" class="underline">David Grzyb</a>.
</footer>
</div>

</div>

<!-- AlpineJS -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
<!-- Alert JS -->
<script src="/js/alert.js"></script>

</body>
</html>