<html>

<head>
    <title>
        HAB Website
    </title>
    
    <link href="https://fonts.googleapis.com/css?family=Spartan:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  
<header class="text-gray-600 body-font">
    <!-- <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"> -->
      <nav class="navbar navbar-expand-lg navbar-dark px-5 py-5" style="background-color: black;">
        <!-- <a class="navbar-brand" href=""><img src="images/hab_icon.png" alt="icon"></a> -->
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-xl" style="color: white;">HAB Website</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-3">
                <a class="nav-link" href="/" style="color: white;">Home</a>
            </li>
            
            <li class="nav-item mx-3">
              <a class="nav-link" href="/notice" style="color: white;">Notices</a>
          </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="/announcement" style="color: white;">Announcements</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="/hostels" style="color: white;">Hostel</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="/profile" style="color: white;">Profile</a>
          </li>
        </ul>
        </div>
    </nav>
    <!-- </div> -->
  </header>
<body>



  <!-- <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
      <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
    </svg>
    <span class="ml-3 text-xl">HAB Website</span>
  </a>
  <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
    <%  if(!currentUser){  %>
    <a class="mr-5 hover:text-gray-900" href="/login">Login</a>
    <a class="mr-5 hover:text-gray-900" href="/signup">Register</a>
    <% }else{  %>
        <a class="mr-5 hover:text-gray-900" href="/notice">Notices</a>
        <a class="mr-5 hover:text-gray-900" href="/announcement">Announcements</a>
        <a class="mr-5 hover:text-gray-900" href="/profile"><%= currentUser.username %> </a>
        <a class="mr-5 hover:text-gray-900" href="/logout">Logout</a>
    <%}%>
  </nav> -->