<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store" />
    <title>HAB Admin Panel</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <link rel="icon" href="/hab/images/headers/logo2.svg" type="image/icon type">

    <!-- Tailwind -->
    <link rel="stylesheet" href="/hab/css/tailwind.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }

        .bg-sidebar {
            background: #3d68ff;
        }

        .cta-btn {
            color: #3d68ff;
        }

        .upgrade-btn {
            background: #1947ee;
        }

        .upgrade-btn:hover {
            background: #0038fd;
        }

        .active-nav-link {
            background: #1947ee;
        }

        .nav-item:hover {
            background: #1947ee;
        }

        .account-link:hover {
            background: #3d68ff;
        }
    </style>
    <link rel="stylesheet" href="/hab/css/hostelg.css">
    <link rel="stylesheet" href="/hab/css/alert.css" />
</head>

<body class="bg-gray-100 font-family-karla flex">

    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
        <div class="p-6">
            <a href="/hab/admin" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">HAB Admin</a>
        </div>
        <nav class="text-white text-base font-semibold pt-3">

            <%if(currentUser){%>
                <a href="/hab/admin"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-users-cog mr-3"></i>
                    Admin
                </a>
                <a href="/hab/admin/about"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-info-circle mr-3"></i>
                    Home Description
                </a>
                <a href="/hab/admin/announcement"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-bullhorn mr-3"></i>
                    Announcements
                </a>
                <a href="/hab/admin/form"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fab fa-wpforms mr-3"></i>
                    Forms
                </a>
                <a href="/hab/admin/functionary"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-users mr-3"></i>
                    Functionaries
                </a>
                <a href="/hab/admin/hostels"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-hotel mr-3"></i>
                    Hostels
                </a>
                <a href="/hab/admin/links"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-link mr-3"></i>
                    Links
                </a>
                <a href="/hab/admin/notice"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-sticky-note mr-3"></i>
                    Notices
                </a>
                <a href="/hab/admin/ordinance"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-sticky-note mr-3"></i>
                    Ordinance
                </a>
                <a href="/hab/admin/uploads"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-upload mr-3"></i>
                    Uploads
                </a>

                <a href="/hab/admin/users"
                    class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-users mr-3"></i>
                    Users
                </a>
                <%}%>

        </nav>
    </aside>

    <div class="relative w-full flex flex-col h-screen overflow-y-hidden">
        <!-- Desktop Header -->
        <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
            <div class="w-1/2"></div>
            <div class="relative w-1/2 flex justify-end">
                <%if(currentUser){%>
                    <button class="block px-4 py-2">Hi, <%=currentUser.name%>
                    </button>
                    <a href="/hab/admin/logout" class="block px-4 py-2 account-link hover:text-white">Sign Out</a>
                    <%}else{%>
                        <a href="/hab/admin/login" class="block px-4 py-2 account-link hover:text-white">Login</a>
                        <a href="/hab/admin/signup" class="block px-4 py-2 account-link hover:text-white">Sign
                            Up</a>
                        <%}%>
            </div>
        </header>

        <!-- Mobile Header & Nav -->
        <header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
            <div class="flex items-center justify-between">
                <a href="/hab/admin" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
                <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
                    <i x-show="!isOpen" class="fas fa-bars"></i>
                    <i x-show="isOpen" class="fas fa-times"></i>
                </button>
            </div>

            <!-- Dropdown Nav -->
            <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
                <%if(currentUser){%>
                    <a href="/hab/admin"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-users-cog mr-3"></i>
                        Admin
                    </a>
                    <a href="/hab/admin/about"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-info-circle mr-3"></i>
                        Home Description
                    </a>
                    <a href="/hab/admin/announcement"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-bullhorn mr-3"></i>
                        Announcements
                    </a>
                    <a href="/hab/admin/form"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fab fa-wpforms mr-3"></i>
                        Forms
                    </a>
                    <a href="/admin/functionary"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-users mr-3"></i>
                        Functionaries
                    </a>
                    <a href="/hab/admin/hostels"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-hotel mr-3"></i>
                        Hostels
                    </a>
                    <a href="/hab/admin/links"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-link mr-3"></i>
                        Links
                    </a>
                    <a href="/hab/admin/notice"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-sticky-note mr-3"></i>
                        Notices
                    </a>
                    <a href="/hab/admin/ordinance"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-link mr-3"></i>
                        Ordinance
                    </a>
                    <a href="/hab/admin/uploads"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-upload mr-3"></i>
                        Uploads
                    </a>

                    <a href="/hab/admin/users"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-users mr-3"></i>
                        Users
                    </a>

                    <a href="/hab/admin/logout"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-sign-out-alt mr-3"></i>
                        Sign Out
                    </a>
                    <%}else{%>
                        <a href="/hab/admin/login"
                            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                            <i class="fas fa-sign-out-alt mr-3"></i>
                            Login
                        </a>
                        <a href="/hab/admin/signup"
                            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                            <i class="fas fa-sign-out-alt mr-3"></i>
                            Sign Up
                        </a>
                        <%}%>

            </nav>
        </header>

        <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
            <main class="w-full flex-grow p-6">

                <%- include("./flash.ejs") %>