<section id="management">
    <div class="container md:px-40 px-5 py-20 mx-auto">
        <div class="flex justify-evenly flex-wrap -m-4">
            <div class="profileCard cursor-pointer w-10/12 h-auto m-2 bg-white rounded-sm"
                style="box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);">
                <div class="box-border pointer-events-none border-8 border-white w-full h-64 bg-pink-300"
                    style="background: url(img/test_profile.jpg) no-repeat center;"></div>
                <div class="box-border pointer-events-none px-3 pt-1 pb-2">
                    <p class="text-xl font-semibold">Name of the person</p>
                    <p class="py-0.5 text-sm font-normal text-gray-600">Designation</p>
                    <p class="py-1 text-sm font-normal text-gray-600">+91 232342441</p>
                    <div class="hidden bg-gray-100 rounded-sm p-2">
                        <p class="py-0.5 text-sm font-normal text-gray-600">email-1@iitg.ac.in</p>
                        <p class="pt-0.5 pb-1 text-sm font-normal text-gray-600">twitter_handle</p>
                    </div>
                </div>
            </div>
            <div class="profileCard cursor-pointer w-10/12 h-auto m-2 bg-white rounded-sm"
                style="box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);">
                <div class="box-border pointer-events-none border-8 border-white w-full h-64 bg-pink-300"
                    style="background: url(img/test_profile.jpg) no-repeat center;"></div>
                <div class="box-border pointer-events-none px-3 pt-1 pb-2">
                    <p class="text-xl font-semibold">Name of the person</p>
                    <p class="py-0.5 text-sm font-normal text-gray-600">Designation</p>
                    <p class="py-1 text-sm font-normal text-gray-600">+91 232342441</p>
                    <div class="hidden bg-gray-100 rounded-sm p-2">
                        <p class="py-0.5 text-sm font-normal text-gray-600">email-2@iitg.ac.in</p>
                        <p class="pt-0.5 pb-1 text-sm font-normal text-gray-600">twitter_handle</p>
                    </div>
                </div>
            </div>
            <div class="profileCard cursor-pointer w-10/12 h-auto m-2 bg-white rounded-sm"
                style="box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);">
                <div class="box-border pointer-events-none border-8 border-white w-full h-64 bg-pink-300"
                    style="background: url(img/test_profile.jpg) no-repeat center;"></div>
                <div class="box-border pointer-events-none px-3 pt-1 pb-2">
                    <p class="text-xl font-semibold">Name of the person</p>
                    <p class="py-0.5 text-sm font-normal text-gray-600">Designation</p>
                    <p class="py-1 text-sm font-normal text-gray-600">+91 232342441</p>
                    <div class="hidden bg-gray-100 rounded-sm p-2">
                        <p class="py-0.5 text-sm font-normal text-gray-600">email-3@iitg.ac.in</p>
                        <p class="pt-0.5 pb-1 text-sm font-normal text-gray-600">twitter_handle</p>
                    </div>
                </div>
            </div>
            <div class="profileCard cursor-pointer w-10/12 h-auto m-2 bg-white rounded-sm"
                style="box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);">
                <div class="box-border pointer-events-none border-8 border-white w-full h-64 bg-pink-300"
                    style="background: url(img/test_profile.jpg) no-repeat center;"></div>
                <div class="box-border pointer-events-none px-3 pt-1 pb-2">
                    <p class="text-xl font-semibold">Name of the person</p>
                    <p class="py-0.5 text-sm font-normal text-gray-600">Designation</p>
                    <p class="py-1 text-sm font-normal text-gray-600">+91 232342441</p>
                    <div class="hidden bg-gray-100 rounded-sm p-2">
                        <p class="py-0.5 text-sm font-normal text-gray-600">email-4@iitg.ac.in</p>
                        <p class="pt-0.5 pb-1 text-sm font-normal text-gray-600">twitter_handle</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>