    <!-- header  -->
<header>
    <!-- <div class="cntr">
        <div class="slides" id="slides1">

               

        </div>  -->
        <div class="demo-1 slides" id="slides1">
            <main>
                <div id="content" class="content">
                    <div id="slider" data-images='["img/img11.jpg","img/img12.jpg","img/img13.jpg"]'
                        data-displacement="">
                    </div>
                </div>
                <nav class="slide-content_hab">
                    <img src="images/headers/logo.svg" alt="img" id="pc">
                    <div class="ha">Hostel Affairs <br> Board</div>
                </nav>
                <div id="content_hab">
                    <img src="images/headers/h1.svg" alt="img" class="hs">
                    <h2>Siang, IIT GUWAHATI</h2>
                    <hr>
                    <p>
                        The Siang River meets two other major tributaries of Brahmaputra,
                        Dibang and Lohit in the west of Sadiya, at a place named Kobo.
                    </p>
                </div>
                <div id="bn">
                    <img src="images/headers/aro.svg" alt="img" class="ar" onclick="myFunction()">
                    <div id="myButton" value="small" class="lar">Large View</div>
                </div>
            </main>
            
            
        </div>
    </div>

</header>