<header>
    <style>
        .overlay {
            /* content: '\A'; */
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.30);
            /* opacity: 0; */
            /* transition: all 1s;
            -webkit-transition: all 1s; */
            z-index: 5;
        }
    </style>
    </div>
    <div class="demo-1 slides" id="slides1">
        <main class="relative">
            <div id="content" class="content">
                <div id="slider" class="" data-images= <%=JSON.stringify(uploadImages)%> data-displacement="" />
            </div>
            <div class="overlay "></div>
            <section id="top">
                <div class="top_content relative w-11/12 md:w-4/5 h-full mx-auto z-10 flex flex-col md:flex-row">
                    <div
                        class="top_title w-full  md:w-1/2 md:h-full flex flex-col sm:flex-row justify-start items-center md:-mt-80 -mt-96">
                        <img src="/hab/images/headers/logo.svg" alt="logo"
                            class="transform md:scale-90 scale-50 md:mr-1">
                        <h2 class="md:text-6xl text-5xl text-white text-center sm:text-left font-black"
                            style="font-family: Mulish">Hostel
                            Affairs <br> Board</h2>
                    </div>


            </section>


        </main>


    </div>
    </div>

</header>