<header>
    <style>
        .overlay {
            /* content: '\A'; */
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.30);
            /* opacity: 0; */
            /* transition: all 1s;
            -webkit-transition: all 1s; */
            z-index: 5;
        }
    </style>
    </div>
    <div class="demo-1 slides" id="slides1">
        <main class="">
            <div id="content" class="content relative">
                <div class="overlay"></div>
                <div id="slider" class="" data-images=<%=JSON.stringify(uploadImages)%>
                    data-displacement="">
                </div>
            </div>

            <section id="top">
                <div class="top_content relative w-11/12 md:w-4/5 h-full mx-auto z-10 flex flex-col md:flex-row">
                    <div class="top_title w-full  md:w-1/2 md:h-full flex justify-start items-center md:-mt-96 -mt-96">
                        <img src="images/headers/logo.svg" alt="logo" class="transform md:scale-90 scale-50 md:mr-1">
                        <h2 class="md:text-6xl text-5xl text-white font-black" style="font-family: Mulish">Hostel
                            Affairs <br> Board</h2>
                    </div>
                    <div class="top_card_container w-full   md:w-1/2 md:h-full">
                        <div id="content_hab" class="home-card absolute md:bottom-14 bottom-4 md:-right-16 z-10"
                            data-index="0" data-hostels="<%=JSON.stringify(hostels)%>">
                            <img src="images/headers/h.svg" alt="img" class="hs">
                            <h2 style="color: #F3F4F7;">
                                <%=hostels[0].name%>, IIT Guwahati
                            </h2>
                            <hr>
                            <p class="text-xs leading-relaxed font-normal opacity-80">
                                <%=hostels[0].description%>
                            </p>
                        </div>
                        <!-- <img src="/images/headers/fullscr.svg" alt="" onclick="toggleFullscreen();"
                            class="hidden md:inline absolute -right-10 bottom-2"> -->
                    </div>
                </div>
            </section>

            <!-- <nav class="slide-content_hab">
                    <img src="images/headers/logo.svg" alt="img" id="pc">
                    <div class="ha">Hostel Affairs <br> Board</div>
                </nav>
                <div id="content_hab">
                    <img src="images/headers/h1.svg" alt="img" class="hs">
                    <h2>Siang, IIT GUWAHATI</h2>
                    <hr>
                    <p>
                        The Siang River meets two other major tributaries of Brahmaputra,
                        Dibang and Lohit in the west of Sadiya, at a place named Kobo.
                    </p>
                </div>
                <div id="bn">
                    <img src="images/headers/aro.svg" alt="img" class="ar" onclick="myFunction()">
                    <div id="myButton" value="small" class="lar">Large View</div>
                </div> -->
        </main>


    </div>
    </div>

</header>