<section id="home">
    <div class=" container mx-auto md:px-44 px-12 pt-10">

        <div class="float-left items-top p-4 " style="background: #FFFFFF; box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);">
            <div style="font-family: Mulish;font-weight: 600;font-size: 20px;">
                Hostel Affairs Board
            </div> 
        </div>
    
        <div class="float-right items-top md:pl-16 pl-8 pb-12 md:pt-0 pt-5 ">
            <div class="md:w-80 w-60 border-2 ">
                <h1 class="text-align:left  p-3" style=" font-family: Mulish; font-weight: 900">ANNOUNCEMENTS</h1>
                    <hr class="border-4">
                <div>
                    <marquee class="p-4" direction="up" height="300" scrollamount="3" onmouseout="start()" onmouseover="stop()">
                        <ul>
                            <% announcements.forEach(announcement=>{ %>
                                <li class="pb-4  px-3" style="font-family: Mulish;font-size: 14px;font-weight: 400;text-align: left;"></li>
                                    <% if(announcement.important){ %>
                                        <i style="color:red" class="fas fa-exclamation mr-2"></i>
                                    <% }else{ %>
                                        <i class="far fa-circle mr-2"></i>
                                    <% } %>
                                    <%= announcement.title %>
                                </li>
                                
                            <% }) %>
                        </ul>
                    </marquee>
                </div>
                
            </div>
        </div>
    
        <div class=" pt-28 pb-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis et lorem sit amet vehicula. 
        Etiam vel nibh nec nisi euismod mollis ultrices condimentum velit. Proin velit libero, interdum ac 
        rhoncus sit amet, pellentesque ac turpis. Quisque ac luctus turpis, vel efficitur ante. Cras convallis 
        risus vel vehicula dapibus. Donec eget neque fringilla, faucibus mi quis, porttitor magna. 
        Cras pellentesque leo est, et luctus neque rutrum eu. Aliquam consequat velit sed sem posuere, 
        vitae sollicitudin mi consequat. Mauris eget ipsum sed dui rutrum fringilla. 
        Donec varius vehicula magna sit amet auctor. Ut congue vehicula lectus in blandit. 
        Vivamus suscipit eleifend turpis, nec sodales sem vulputate a. Curabitur pulvinar 
        libero viverra, efficitur odio eu, finibus justo. Etiam eu vehicula felis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis et lorem sit amet vehicula. 
        Etiam vel nibh nec nisi euismod mollis ultrices condimentum velit. Proin velit libero, interdum ac 
        </div>
    </div>
    <div>
    
    </div>
</section>
