<section id="hostels">
  <!-- <section class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">

            <nav class="md:mr-auto md:ml-4 md:pt-12 md:pl-4 	flex flex-wrap items-center text-base justify-center">
                <a class="mr-5" style="text-decoration: none; color: inherit; "> <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24" style="margin-right: 4px;">
                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                      </svg> Events
                  </button></a>
                <a class="mr-5" style="text-decoration: none; color: inherit; "> <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24" style="margin-right: 4px;">
                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                      </svg> Mess
                  </button></a>
                <a class="mr-5" style="text-decoration: none; color: inherit; "> <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24" style="margin-right: 4px;">
                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                      </svg> Category
                  </button></a>
                <a class="mr-5" style="text-decoration: none; color: inherit; "> <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24" style="margin-right: 4px;">
                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                      </svg> Events
                  </button></a>

            </nav>
        </div>
    </section> -->
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">

      <div class="flex flex-wrap -m-4">
        <% if(hostels.length==0){%>
          <h1>No Hostels To Show</h1>
          <% }else{hostels.forEach(hostel=>{ %>

            <div class="p-2 lg:w-1/2">
              <div
                class="h-full border-2 rounded-lg border-gray-200 border-opacity-70 p-1 flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">

                <img alt="hostel" class="rounded-lg w-3/4 md:w-2/3 h-48 md:mr-2 sm:mb-0 mb-4 object-cover"
                  src="uploads/hostel/<%=hostel.pic%>">
                <div class=" px-4">
                  <h2 class="text-pink-900 text-lg title-font font-medium mb-2 ">
                    <%=hostel.name%> Hostel
                  </h2>

                  <p class="mb-4 ">
                    <%= hostel.description.substring(0, 70) + "..." %>
                  </p>
                  <form action="/hostels/<%=hostel.id%>" method="GET"><button
                      class="inline-flex text-white bg-red-500 border-0 py-1 px-4 focus:outline-none hover:bg-red-600 rounded "
                      style=" color:white ">View more</button></form>

                </div>

              </div>
            </div>
            <% })} %>
      </div>
    </div>
  </section>
</section>