<section id="navigation" class="hostelsnav">
    <div class="md:px-20 lg:px-32 py-3 flex justify-center">
        <img id="nav_logo" src="/hab/images/headers/c.png" alt="logo" class="nav_logo hidden md:inline mr-5">
        <div class="w-1/3 sm:w-1/4 lg:w-44 flex justify-end items-center">
            <a href="/hab/admin/login" class="w-9/12 sm:w-full mr-3 sm:mr-5">
                <button class="w-full py-0.5 flex justify-center bg-white rounded-sm"
                    style="border: 1px solid #8a8886;">
                    <img src="/hab/images/nav/iit_logo.png" alt="logo" class="max-w-full"
                        style="transform: scale(0.9);">
                    <span class="max-w-full	 ml-0.5">Login</span>
                </button>
            </a>
        </div>
        <div class="w-2/3 sm:3/4 lg:w-max my-1 flex justify-start items-center relative">
            <button id="slideLeft"
                class=" absolute top-0.5 rounded bg-white shadow-lg -left-0 h-full z-20 transform scale-75 opacity-50">
                <img src="/hab/images/nav/left.svg" alt="Left" class="h-full rounded transform scale-50">
            </button>
            <ul class=" tabs pl-1 sm:pl-4 font-semibold">
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100 tabStyle"><a
                        class="active" href="#home">Home</a></li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100"><a
                        href="#notices">Notices</a></li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100"><a
                        href="#forms">Forms</a></li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100"><a
                        href="#hostels">Hostels</a></li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100"><a
                        href="#management">Functionaries</a></li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100">
                    <a href="#ordinance">Ordinance and Rules</a>
                </li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100"><a
                        href="#utils">Utilities</a></li>
            </ul>
            <button id="slideRight"
                class="ml-5 absolute top-0.5 rounded bg-white shadow-lg -right-1 h-full z-20 transform scale-75 opacity-70">
                <img src="/hab/images/nav/right.svg" alt="Right" class="h-full rounded transform scale-50">
            </button>
        </div>
    </div>
</section>