<section id="navigation">
    <div class="md:px-28 py-3 flex content-center">
        <div class="hidden md:block text-center w-2/12 ">
            <a href="/admin/login">
                <button class="w-3/4 py-0.5 loginBtn relative">
                    <img src="images/nav/iit_logo.png" alt="logo" style="position: absolute;top: 2px;left: 12%;transform: scale(0.9);">Login
                </button>
            </a>
        </div>
        <div class="w-full md:w-7/12 my-1">
            <ul class="tabs flex justify-around content-center font-semibold">
                <li class="tab text-black text-opacity-60 hover:text-opacity-100 tabStyle"><a class="active" href="#home">Home</a>
                </li>
                <li class="tab text-black text-opacity-60 hover:text-opacity-100"><a href="#notices">Notices</a>
                </li>
                <li class="tab text-black text-opacity-60 hover:text-opacity-100"><a href="#hostels">Hostels</a>
                </li>
                <li class="tab text-black text-opacity-60 hover:text-opacity-100"><a 
                        href="#management">Functionaries</a>
                </li>
                <li class="tab text-black text-opacity-60 hover:text-opacity-100"><a href="#forms">Forms</a>
                </li>
                <li class="tab text-black text-opacity-60 hover:text-opacity-100"><a
                        href="https://www.iitg.ac.in/acad/Acad_Desktop_Cal_2020.pdf" target="_blank">Ordinance and
                        Rules</a>
                </li>
                <li class="tab text-black text-opacity-60 hover:text-opacity-100"><a href="#utils">Utilities</a>
                </li>
            </ul>
        </div>
        <div class="hidden md:block w-3/12">
            <div class="w-11/12 relative">
                <img src="images/nav/icon.svg" alt="search-icon" class="absolute top-2.5 left-2.5">
                <input type="text" placeholder="Search..."
                    class="w-full px-4 py-0.5 pl-9 my-0.5 border border-solid border-gray-500 rounded-sm">
            </div>
        </div>
    </div>
</section>