<section id="ordinance">
    <!-- <h1>Ordinance</h1>
    <iframe class="flex" src='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf' width="80%" height="500px"></iframe> -->


        
      
          <div class="p-3 md:p-4 overflow-y-auto">
            <!-- <embed width="100%" height="100%" src="https://pdfobject.com/pdf/sample-3pp.pdf"></embed> -->
            <iframe class="w-full min-h-full" width="100%" height="1000px" src="/uploads/announcement_pdf/1613746505809mml-book.pdf" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"></iframe>
          </div>
      
        
</section>