<%- include("./partials/header.ejs") %> 
<h1 class="mx-10 title-font text-xl font-bold text-gray-900 mb-3">Welcome to Admin Panel <%= currentUser.username %>!</h1>
<%- include("./partials/footer.ejs") %> 