<%- include("./partials/header.ejs") %> 

<div class="container">
    <div class="row">
        
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center">Add new functionary</h1>
            <form class="form-horizontal" action="/functionary" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label" for="name">Full Name:</label>
                    <input class="form-control" type="text" id="name" name="name" placeholder="Full Name" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="pic">Profile Image:</label>
                    <input class="form-control" type="file" id="pic" name="pic" placeholder="image url" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="post">Post Name:</label>
                    <input class="form-control" type="text" id="post" name="post" placeholder="Post Name" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="priority">Priority Number:</label>
                    <input class="form-control" type="number" id="priority" name="priority_number" placeholder="Priority Number" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="contact1">Contact Line 1:</label>
                    <input class="form-control" type="string" id="contact1" name="contact_line1" placeholder="Contact" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="contact2">Contact Line 2:</label>
                    <input class="form-control" type="string" id="contact2" name="contact_line2" placeholder="Contact">
                </div>
                <div class="form-group">
                    <label class="control-label" for="contact3">Contact Line 3:</label>
                    <input class="form-control" type="string" id="contact3" name="contact_line3" placeholder="Contact">
                </div>
                <div class="form-group">
                    <label class="control-label" for="contact4">Contact Line 4:</label>
                    <input class="form-control" type="string" id="contact4" name="contact_line4" placeholder="Contact">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/functionary">Go Back</a>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %> 