<%- include("./partials/header.ejs") %> 

<div class="container">
    <div class="row">
        
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center">Add new member></h1>
            <form action="<%= link %>" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Member Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="position" placeholder="position">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="contact" placeholder="contact no">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="file" name="photo" placeholder="image url">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/hostels/<%=Hname%>">Go Back</a>
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>