*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 53em) {
  .content {
    justify-content: center;
  }
}

#slider {
  z-index: -100;
  height: 75vh;
}
