<%- include("../partials/header.ejs") %> 
<h1 class="text-3xl text-black pb-6">Add Links</h1>
<div class="flex flex-wrap justify-center">
    <div class="w-full lg:w-1/2 my-6 pr-0 lg:pr-2">
        <p class="text-xl pb-6 flex items-center">
            <i class="fas fa-list mr-3"></i> Add Links
        </p>
        <div class="leading-loose">
            <form class="p-10 bg-white rounded shadow-xl" action="/hab/admin/links" method="POST">
                <div class="mt-2">
                    <label class="block text-sm text-gray-600" for="name">Link Name</label>
                    <input class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded" id="name" name="name" type="text" required placeholder="Link Name">
                </div>
                <div class="mt-2">
                    <label class="block text-sm text-gray-600" for="priority_number">Priority Number</label>
                    <input class="w-full px-5 py-4 text-gray-700 bg-gray-200 rounded" type="number" id="priority" name="priority_number" placeholder="Priority Number" required></input>
                </div>
                <div class="mt-6">
                    <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Add link</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %> 