<footer class="w-full bg-white text-right p-4">
    Built by <a target="_blank" href="#" class="underline">Students' Web Committee</a>.
  </footer>
</div>

</div>

<!-- AlpineJS -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</body>

</html>