
</main>

<footer class="w-full bg-white text-right p-4">
  Built by <a target="_blank" href="#" class="underline">Students' Web Committee</a>.
</footer>
</div>

</div>

<!-- AlpineJS -->
<script src="/hab/js/alpine.min.js" defer></script>
<!-- Font Awesome -->
<script src="/hab/js/all.min.js"></script>
<!-- Alert JS -->
<script src="/hab/js/alert.js"></script>

</body>

</html>